/* CSS Document */
body{
	background-color:#eee;
	font-family: 1;
	}
	
.black8{
	color:#000;
	font-size:8pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.black9{
	color:#000;
	font-size:9pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.black105{
	color:#000;
	font-size:10.5pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.black18{
	color:#000;
	font-size:18pt;
	font-family:Verdana, Geneva, sans-serif;
	line-height:25px;
	}
.blue8{
	color:#00F;
	font-size:8pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.blue9{
	color:#00F;
	font-size:9pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.blue105{
	color:#00F;
	font-size:10.5pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.blue18{
	color:#00F;
	font-size:18pt;
	font-family:Verdana, Geneva, sans-serif;
	line-height:25px;
	}
.form1{
	border:#CCC dashed 1px;
	}
.form2{
	width:auto;
	height:auto;
	padding:2px;
	border: #999 solid 1px;
	background-color:#FFF;
	font-size:10.5pt;
	color:#036;
	font-family:Verdana, Geneva, sans-serif;
	}
.gray8{
	color:#999;
	font-size:8pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.gray9{
	color:#999;
	font-size:9pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.gray105{
	color:#999;
	font-size:10.5pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.gray18{
	color:#999;
	font-size:18pt;
	font-family:Verdana, Geneva, sans-serif;
	line-height:25px;
	}
.red8{
	color:#f00;
	font-size:8pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.red9{
	color:#f00;
	font-size:9pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.red105{
	color:#f00;
	font-size:10.5pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.red18{
	color:#f00;
	font-size:18pt;
	font-family:Verdana, Geneva, sans-serif;
	line-height:25px;
	}
.side_b{
	width:320px;
	height:auto;
	float:left;
	display:inline;
	margin-bottom:10px;
	}
.side_bListb td:hover{
	text-decoration:underline;
	}
.side_bNav{
	width:320px;
	height:auto;
	float:left;
	display:inline;
	}
.side_bNav ul li a{
	width:115px;
	height:25px;
	float:left;
	display:inline;
	margin-left:20px;
	padding-top:10px;
	padding-left:25px;
	font-family:"宋体", Verdana;
	font-size:12pt;
	letter-spacing:2px;
	background-repeat:no-repeat;
	background-position:0px 8px;
	}
.side_bTb{
	width:318px;
	height:27px;
	border-bottom:2px #039 solid;	 
	}
.side_bTitle{
	width:auto;
	height:auto;
	float:left;
	display:inline;
	padding-top:5px;
	font-family:"方正粗圆简体", Verdana;
	font-size:12pt;
	letter-spacing:2px;
	color:#039;
	}
.side_bTitle2{
	width:auto;
	height:30px;
	float:left;
	display:inline;
	margin-top:15px;
	margin-left:20px;
	font-family:"方正粗圆简体", Verdana;
	font-size:18pt;
	letter-spacing:2px;
	color:#039;
	}
.side_bMore{
	width:auto;
	height:auto;
	float:right;
	display:inline;
	padding-top:7px;
	margin-right:20px;
	font-size:9pt;
	color:#039;
	}
.table_3{
	border-bottom:1px #CCC dashed;
	}
.white8{
	color:#fff;
	font-size:8pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.white9{
	color:#fff;
	font-size:9pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.white105{
	color:#fff;
	font-size:10.5pt;
	font-family:Verdana, Geneva, sans-serif;
	}
.white18{
	color:#fff;
	font-size:18pt;
	font-family:Verdana, Geneva, sans-serif;
	}

#bot{
	width:990px;
	height:100px;
	margin:0 auto;
	background-color:#fff;
	}
#bot_help{
	width:990px;
	height:200px;
	margin:0 auto;
	background-color:#fff;
	}
#bot_help_list{
	width:230px;
	height:auto;
	float:left;
	display:inline;
	margin-top:10px;
	}
#bot_help_list li{
	width:230px;
	height:25px;
	}
#bot_help_nav{
	width:990px;
	height:35px;
	float:left;
	display:inline;
	background-image:url(../images/global/bg_nav1.jpg)
	}
#bot_help_nav ul{
	width:720px;
	height:auto;
	margin-left:180px;
	padding-top:10px;
	}
#bot_help_nav ul li{
	width:230px;
	float:left;
	padding-top:1px;
	display:inline;
	}
#bot_help_nav ul li a{	
	font-size:10.5pt;
	letter-spacing:1px;
	color:#FFF;
	}
#bot_help_nav2{
	width:800px;
	height:auto;
	margin-left:180px;
	}
#bot_nav{
	width:800px;
	height:25px;
	margin:0px auto;
	padding-top:15px;
	}
#bot_nav ul li{
	width:80px;
	float:left;
	display:inline;
	}
#bot_nav ul li a{
	width:auto;
	height:25px;
	font-size:9pt;
	letter-spacing:1px;
	}
#cemail{
	width:auto;
	height:auto;
	padding:2px;
	border: #999 solid 2px;
	background-color:#FFF;
	font-size:10.5pt;
	color:#036;
	font-family:Verdana, Geneva, sans-serif;
	}
#copyright{
	height:25px;
	margin:0 auto;
	padding-top:10px;
	text-align:center;
	font-size:8pt;
	letter-spacing:4;
	}
#list_pageup1{
	width:600px;
	height:25px;
	margin:20px auto 0 auto;
	text-align:right;
	}
#m_list{
	width:600px;
	height:auto;
	float:left;
	display:inline;
	padding:10px 19px 20px 19px;
	border:1px #CCC dashed;
	}
#m_list td a{
	font-size:10.5pt;
	letter-spacing:1px;
	}
#m_list td:hover{
	text-decoration:underline;
	}
#m_text{
	width:640px;
	height:auto;
	float:left;
	display:inline;
	border:1px #CCC solid;
	background-color:#f6fcff;
	}
#m_text_summary{
	width:598px;
	height:auto;
	float:left;
	display:inline;
	margin:0 15px 20px 15px;
	padding:5px;
	border:1px #ccc solid;
	background-color:#FFF;
	font-size:10.5pt;
	line-height:17pt;
	text-align:justify;
	text-justify:inter-ideograph;
	word-wrap:break-word;
	text-indent:2em;
	letter-spacing:1px;
	}
#m_text_t2{
	width:auto;
	height:20px;
	float:left;
	display:inline;
	margin:10px 0 20px 15px;	
	}
#m_text_text{
	width:610px;
	height:auto;
	float:left;
	display:inline;
	margin:0 15px 0 15px;
	font-size:10.5pt;
	line-height:20pt;
	text-align:justify;
	text-justify:inter-ideograph;
	word-wrap:break-word;
	text-indent:2em;
	letter-spacing:1px;
	}
#m_text_title{
	width:auto;
	height:20px;
	float:left;
	display:inline;
	margin:20px 0 0 15px;
	font-size:18pt;
	font-weight:bold;
	}
#m_title{
	width:635px;
	height:40px;
	float:left;
	display:inline;
	padding-left:5px;
	}
#m_title_text{
	width:auto;
	height:30px;
	float:left;
	display:inline;
	margin-top:10px;
	margin-right:20px;
	letter-spacing:3px;
	font-size:16pt;
	color:#039;
	font-family:"方正大黑简体";
	}
#m_title_crumb{
	margin-top:10px;
	}
#main1{
	width:640px;
	height:auto;
	display:inline;
	margin-top:10px;
	padding-bottom:9999px;
	margin-bottom:-9989px;
	}
#nav{
	width:990px;
	height:35px;
	float:left;
	display:inline;
	margin-top:60px;
	background-image:url(../images/global/bg_nav1.jpg);
	}
#nav ul{
	margin-left:10px;
	}
#nav ul li{
	width:auto;
	height:20px;
	float:left;
	display:inline;
	}
#nav ul li a{
	width:65px;
	height:20px;
	float:left;
	display:inline;
	padding:13px 10px 2px 10px;
	color:white;
	font-size:10.5pt;
	text-decoration:none;
	letter-spacing:2px;
	}
#nav ul li a:hover{
	color:#fff;
	background-image:url(../images/global/bg_nav2.jpg);
	text-decoration:under;
	}
#nav ul li ul{
	display:none;
	}
#nav ul li ul li{
	height:35px;
	width:85px;
	clear:both;
	text-align:center;
	background-image:url(../images/global/bg_nav2.jpg);
	margin:0px;
	border-top:#FFF 1px solid;
}
#nav ul li:hover ul{
	margin:35px 0 0 0;
	display:block;
	position:absolute; 
	}
#nav ul li ul li a:hover{
	background-image:url(../images/global/bg_nav1.jpg);
	}
#page1{
	width:990px;
	height:auto;
	margin:0px auto;
	padding-bottom:20px;
	overflow:hidden;
	background-color:#fff;
	}
#search{
	width:150px;
	height:35px;
	float:right;
	display:inline;
	}
#side1{
	width:320px;
	height:auto;
	display:inline;
	margin-top:10px;
	padding-bottom:9999px;
	margin-bottom:-9989px;
	}
#top{
	width:990px;
	height:135px;
	margin:0 auto;
	background-image:url(../images/global/bg_top1.jpg)
	}
#top_nav{
	width:990px;
	height:40px;
	}
#top_nav ul{
	width:auto;
	height:auto;
	float:right;
	display:inline;
	margin-right:15px;
	}
#top_nav ul li{
	width:auto;
	height:15px;
	float:left;
	display:inline;
	margin:12px 0px 11px 10px;
	padding-top:2px;
	padding-left:20px;
	background-repeat:no-repeat;
	background-position:0px 0px;
	}
#top_nav ul li a{
	color:white;
	}
